[user]
	name = Sushant Kumar
	email = sushant.mithila@gmail.com
[core]
	excludesfile = ~/.gitignore
[alias]
	l = log --graph --pretty=format:'%Cred%h %Cgreen%ad%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%aN>%Creset' --abbrev-commit --date=format:%F --author-date-order
	ll = !git l --all
[pull]
	ff = only
[color "grep"]
	filename = magenta
	linenumber = green
[grep]
	lineNumber = true
[init]
	defaultBranch = master
[credential]
	helper = osxkeychain
[merge]
	conflictStyle = zdiff3
[diff]
	submodule = log
	algorithm = histogram
	indentHeuristic = true
[fetch]
	prune = true
[branch]
	sort = -committerdate
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool]
    prompt = false
[pager]
    difftool = true
[diff]
    external = difft
